
lab5test/index.html
lab5test/scripts.js
lab3test/dove.png
lab3test/dove.png
lab3test/favorite-1.jpg
lab3test/dove.png
lab3test/style.css
lab3test/dove.png
lab3test/favorite-1.jpg
lab3test/favorite-1_th.jpg
lab3test/dove.png
*.png
