body{
    background: #e9f730;
    font-family: 'Fugaz One', cursive;
}

.header {
    margin: -10px -10px 15px -10px;
    display: flex;
    flex-flow: row wrap;
    color: rgb(189, 20, 241);
    background: rgb(75, 0, 105);
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
}

.header img{
    width: 90px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(12, 169, 241);
}

.container{
    max-width: 960px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.goals{
    display: flex;
    flex-flow: row wrap;
    flex:0 1 auto;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.profile{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(9, 180, 202);
    border-radius: 4px;
}

.statement{
    font-family: "Times New Roman", Times, serif;
    border: 1px solid rgb(31, 173, 209);
    max-width: 200px;
    background: white;
    border-radius: 4px;
    align-self: center;
}

.experience{
    padding: 20px;
    width: 600px;
    border-radius: 4px;
    border: 1px solid rgb(15, 173, 221);
    background: white;
}

.experience h2{
    font-weight: 700;
}


@media screen and (max-width: 1000px){
    .header{
        background: rgb(43, 255, 0); }
    
    .container{
        justify-content:center;
    }
    .goals{
        flex-grow:1;
        flex-shrink:0;
        justify-content: space-evenly;
        margin-bottom: 30px;
        width: inherit;
    }
    .statement{
        align-self: center;
    }
    .experience{
        justify-content:center;
    }
}